<h2>About Message Board</h2>

<p>The Message Board Website was created so users could ask questions and get responses from anyone. Users can update or edit questions, and add answers to any exsisting questions.</p>

{{link-to 'index'}Click Here to Go Home.{{/link-to}}
